{% extends 'blog/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Page Header -->

<header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Rishabh Dev Manu</h1>
                    <hr class="small">
                    <span class="subheading">Welcome to my Blog.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

{% for post in posts %}
    <div class="post">
        <div class="date">
            <p>published: {{ post.published_date }}</p>
        </div>
        <h1><a href="{% url 'post' pk=post.pk %}">{{ post.title }}</a></h1>
    </div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}
